$themes: (
  light: (
    colorBackground: white,
    //colorBackgroundSidebar: #11306c,
    colorBackgroundSidebar: #17202a,
    colorBackgroundSidebarComplement: #f6f6ff,
    colorBackgroundCard: #f2f4f7,
    colorBackgroundBody: white,
    colorText: #646777,
    colorText_subtitle: #11306c,
    colorWhiteText: #ffffff,
    colorTextAdditional: #646777,
    logoImg: url(../shared/img/logo/heg.svg),
    colorHover: #fafbfe,
    colorHoverSidebar: #30559d,
    colorHoverSidebarSub: #30559d,
    colorSidebarActive: #6fa0ff,
    colorRowTableSelected: #f6f6ff,
    colorBorder: #eff1f5,
    colorIcon: #dddddd,
    imgInvert: invert(0%),
    colorFieldsBorder: #f2f4f7,
    colorBubble: rgba(242, 244, 247, 0.65),
    colorBubbleActive: rgba(234, 238, 255, 0.6),
    colorScrollbar: #b4bfd0,
    colorFitness: #646777,
    subTitleCardText: #11306c
  ),
  dark: (
    colorBackground: #232329,
    colorBackgroundBody: #2a2a31,
    colorText: #dddddd,
    colorTextAdditional: #999999,
    logoImg: url(../shared/img/logo/logo_ipn.svg),
    colorHover: #38373f,
    colorBorder: #333246,
    colorIcon: #605f7b,
    imgInvert: invert(100%),
    colorFieldsBorder: #33333a,
    colorBubble: rgba(68, 79, 97, 0.65),
    colorBubbleActive: rgba(92, 104, 156, 0.6),
    colorScrollbar: #606071,
    colorFitness: #ffffff
  )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

//$color-accent: #4ce1b6;
$color-accent: #3057af;

$color-accent-hover: darken($color-accent, 10%);
$color-additional: #999999;
$color-additional-hover: darken($color-additional, 10%);

$color-yellow: #f6da6e;
$color-yellow-hover: darken($color-yellow, 10%);

$color-violet: #c88ffa;

$redIcon: rgb(250, 83, 108);
$greenIcon: rgb(46, 204, 113);

$color-red: #ff4861;
$color-red-hover: darken($color-red, 10%);

$color-blue: #70bbfd;
$color-blue-hover: darken($color-blue, 10%);

$color-blue-hover1: #4170cd;

$color-gray: #787985;
