.calendario {
    width: 100%;
    height: 100%;
    //background-color: red;
}

.tituloCalendar {
   
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 1;
    color: #000000;
    //color: #5c5f61
}

.styleCalendar {
    height: 430px;
    width: 650px;
    //marginTop: 20px;
    //background-color: red;
}

//modal styles
.styles_modal__gNwvD {
    max-width: 1300px;
}

@media only screen and (max-width: 1300px) {
    .styles_modal__gNwvD {
        max-width: 100%;
    }

    .styleCalendar {
        height: 200px;
        width: 100%;
        //marginTop: 20px;
        //background-color: red;
    }

    .tituloCalendar {
       
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        line-height: 1;
        color: #000000;
        //color: #5c5f61
    }

}

.colorTrue {
    background-color: #58D68D;
}

.colorFalse {
    background-color: #E74C3C;
}

@media only screen and (max-width: 400px) {
    .tituloCalendar {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        line-height: 1;
        color: #000000;
        //color: #5c5f61
    }
}

.textAsistencia {
    
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 1.6;
    //color: #000000;
    //color: #5c5f61
    color: #566573;
}

.textFaltas {
   
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 1.6;
    margin-left: 30px;
    //color: #000000;
    //color: #5c5f61
    color: #566573;
}

@media only screen and (max-width: 770px) {
    .textAsistencia{
        font-size: 14px;
    }

    .textFaltas{
        font-size: 14px;
        margin-left: 0px;
    }
}