.card {
  width: 100%;
  padding-bottom: 30px;
  height: 100%;
  border: none;
  background-color: transparent;

  &.card--not-full-height {
    height: auto;
  }
}

.card-body {
  padding: 30px;
  height: 100%;
  border-radius: 5px;

  @include themify($themes) {
    background-color: themed("colorBackground");
  }
}

.with_buttons.card-body {
  padding: 40px;
  height: 100%;
  border-radius: 5px;

  @include themify($themes) {
    background-color: themed("colorBackground");
  }
}

.card__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;

  &:not(:first-child) {
    margin-top: 40px;
  }

  .subhead {
    text-transform: none;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.7;
    margin-top: 3px;
  }

  * {
    margin-bottom: 0;
  }

  h5 {
    font-size: 13px;
  }
}

.squared-corner-theme {
  .card-body {
    border-radius: 0;
  }
}

.blocks-with-shadow-theme {
  .card-body {
    box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.06);
  }
}

.btn.btn-secondary.card__dots-button {
  position: absolute;
  top: 10px;
  right: 12px;
  background-color: transparent;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 0;

  &:hover {
    .card__dots-button-icon {
      fill: $color-accent;
    }
  }

  &:before {
    transition: none;
    background-color: transparent;
  }

  svg {
    height: 30px;
    width: 30px;
  }
}

.card__dots-button-icon {
  transition: 0.3s;

  @include themify($themes) {
    fill: themed("colorIcon");
  }
}

.emptyCard1 {
  //display: table;
  //margin: 0 auto;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.emptyCardText1 {
  margin-top: -60px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: center;
  color: #6a85d6;
}

.cardSize1 {
  width: 100%;
}

.cardDownload {
  text-align: center;
}
