.addCategoryCont {
  width: 510px;
  //height: 850px;
  //background-color:yellowgreen;
}

.addEditTitle{
  margin-top: 10px;
}

@media screen and (max-width: 650px) {
  .addCategoryCont {
    width: 100%;
  }
}

.titileCategorie{
  margin-top: -13px;
}

