.titleComments {
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    //@errorcolor: #767b7d;
}

.infoComment {
    
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    //line-height: .3;
    letter-spacing: normal;
    //color: #000000;
    color: #3057af;
}

.fechaComent {
    color: #000000;
    margin-left: 10px;
}

.textComment {
    font-size: 15px;
    font-weight: 500;
}

.botonesComment {
    color: #acacac;
    font-size: 16px;
    margin-left: 30px;
    //margin-top: 15px;
}

.cajaText {
    background: #f2f2f2;
    font-family: 'HelveticaNeue', 'Roboto', sans-serif;
}

.form_comentarios textarea {
    width: 100%;
    height: 135px;
    max-width: 100%;
    min-width: 100%;
    min-height: 84px;
    max-height: 200px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    border: 1px solid #4b65d1;
    margin-bottom: 20px;
}

.contadorCaracteres {
    color: #acacac;
    font-size: 14px;
}
