.addConceptCont {
  width: 510px;
}

@media screen and (max-width: 650px) {
  .addConceptCont {
    width: 100%;
  }
}

.selectAMarginConcept {
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: -10px;
}
