.addContratistaCont {
  width: 500px;
  //height: 850px;
  //background-color:yellowgreen;
}

@media screen and (max-width: 650px) {
  .addContratistaCont {
    width: 100%;
  }
}

.deleteButtonEd {
  margin-right: 3px;
  margin-top: 5px;
}

.addObra {
  width: 440px;
}

@media screen and (max-width: 650px) {
  .addObra {
    width: 100%;
  }
}

.btn.btn-pdf {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn.btn-excel {
  background-color: #1fb22e;
  border-color: #1fb22e;
}

.btn.btn-pdf p,
.btn.btn-primary p,
.btn.btn-danger p,
.btn.btn-warning p,
.btn.btn-success p,
.btn.btn-excel p {
  color: #ffffff;
}

.btn.btn-pdf:before {
  position: absolute;
  height: 0;
  width: 0;
  border-radius: 50%;
  //background-color: black;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
}

.dashboard__card-widget-contratista {
  background-color: #f2f4f7;
}

.catalogoContratista {
  width: 1100px;
}

@media screen and (max-width: 1035px) {
  .catalogoContratista {
    width: 100%;
  }
}

.asigarModal {
  width: 780px;
  //height: 850px;
  //background-color:yellowgreen;
}

@media screen and (max-width: 700px) {
  .asigarModal {
    width: 100%;
  }
}

.busqueda {
  width: 350px;
}

@media screen and (max-width: 650px) {
  .busqueda {
    width: 100%;
  }
}

.tableAsingMar {
  margin-left: -30px;
  margin-right: -30px;
  margin-top: -10px;
  margin-bottom: -30px;
  padding: 0px;
}

.centerAddContratista {
  //margin-top: 15px;
  padding: 30px;
}

@media screen and (max-width: 650px) {
  .tableAsingMar {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: -20px;
  }
}

.marginDivLP {
  margin-left: -40px;
}

.listaPersonalSize {
  width: 900px;
}

@media screen and (max-width: 650px) {
  .listaPersonalSize {
    width: 100%;
  }
}

.maginTableCatalogos {
  margin-left: -50px;
}

.maginTableEstimaciones {
  margin-left: -40px;
  margin-top: 20px;
  margin-right: -30px;
}

.marginButtonsEstimaciones {
  margin-left: -5px;
}

@media screen and (max-width: 700px) {
  .maginTableCatalogos {
    margin-left: 0px;
  }

  .maginTableEstimaciones {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
  }

  .marginButtonsEstimaciones {
    margin-left: 30px;
  }
}

.estimacionDetallesModal {
  width: 800px;
}

.estimecionInfoText {
  //color: black;
  font-size: 18px;
}
.fichaContratistaSize {
  width: 280px;
  margin-left: -5px;
}

.marginEmpyConcept {
  margin-left: 30px;
}

.marginConButtonUpload{
  margin-left: 8px;
}

.contratistasTitleTable{
  padding: 15px;
}