@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

.deviceContainer {
  display: inline-block;
}

.deviceContainer.iphone {
  width: 90%;
  max-width: 250px;

  .containerScreen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 10%/8%;
  }
}

.deviceContainer.androidPhone {
  width: 90%;
  max-width: 300px;

  .containerScreen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 10%/8%;
  }
}

.deviceContainer .content {
  overflow: hidden;
}

/* Colors */

.white .caseBorder {
  background: linear-gradient(#ddd 0%, #ccc 100%);
}
.white .case {
  background: linear-gradient(#eee 0%, #f5f5f5 100%);
}
.white .screen {
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
}
.white .reflection {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 51%
  );
}
.white .camera {
  background: radial-gradient(#ddd 0%, #999 80%);
}
.white .speaker {
  background: linear-gradient(#ddd 0%, #999 80%);
}
.white .homeButtonBorder {
  background: #bbb;
}
.white .homeButton {
  background: radial-gradient(#ddd 0%, #fff 80%);
}

.black .caseBorder {
  background: linear-gradient(#555 0%, #999 100%);
}
.black .case {
  background: linear-gradient(#111 0%, #333 100%);
}
.black .screen {
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}
.black .reflection {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 51%
  );
}
.black .camera {
  background: radial-gradient(#555 0%, #777 80%);
}
.black .speaker {
  background: linear-gradient(#555 0%, #777 80%);
}
.black .homeButtonBorder {
  background: #888;
}
.black .homeButton {
  background: radial-gradient(#555 0%, #333 80%);
}
$ancho: 414px;
$largo: 848px;
.iphonex.portrait {
  position: relative;
  transform: scale3d(0.9167, 0.9167, 1);
  width: 100%;
  height: 100%;
  padding: calc(18.5 / 9 * 50%) 0;
  .content {
    position: absolute;
    z-index: 7;
    width: $ancho;
    height: $largo;
    top: 0px;
    transform-origin: 0 0;
    transform: scale(0.603864734299517, 0.603864734299517);
  }
}

.iphonex.portrait .reflection {
  width: 105%;
  height: 103%;
  position: absolute;
  top: -1.5%;
  left: -2.5%;
  z-index: 7;
  border-radius: 10%/8%;
}

.iphonex.portrait .caseBorder {
  width: 110%;
  height: 105%;
  position: absolute;
  top: -2.5%;
  left: -5%;
  z-index: 0;
  border-radius: 10%/8%;
}

.iphonex.portrait .case {
  width: 105%;
  height: 103%;
  position: absolute;
  top: -1.5%;
  left: -2.5%;
  z-index: 1;
  border-radius: 10%/8%;
  transform-origin: center;
  transform: scale3d(0.995, 0.995, 1);
}

.iphonex.portrait .screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 6;
  border-radius: 10%/8%;
  overflow: hidden;
}

.iphonex.portrait .speaker {
  width: 50%;
  height: 4%;
  position: absolute;
  top: -0.5%;
  left: 25%;
  z-index: 8;
  border-bottom-left-radius: 15% 50%;
  border-bottom-right-radius: 15% 50%;
}

/* iPhoneX landscape */

.iphonex.landscape {
  position: relative;
  display: inline-block;
  transform: scale3d(0.9467, 0.9467, 1);
  transform-origin: 50% 50%;
  width: 100%;
  padding: calc(9 / 18.5 * 50%) 0;
}

.iphonex.landscape .content {
  position: absolute;
  z-index: 8;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0px;
}

.iphonex.landscape .reflection {
  height: 105%;
  width: 103%;
  position: absolute;
  left: -1.5%;
  top: -2.5%;
  z-index: 7;
  border-radius: 8%/10%;
}

.iphonex.landscape .caseBorder {
  height: 110%;
  width: 105%;
  position: absolute;
  left: -2.5%;
  top: -5%;
  z-index: 0;
  border-radius: 8%/10%;
}

.iphonex.landscape .case {
  height: 105%;
  width: 103%;
  position: absolute;
  left: -1.5%;
  top: -2.5%;
  z-index: 1;
  border-radius: 8%/10%;
  transform-origin: center;
  transform: scale3d(0.995, 0.995, 1);
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.8);
}

.iphonex.landscape .screen {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 6;
  border-radius: 8%/10%;
  overflow: hidden;
}

.iphonex.landscape .speaker {
  height: 50%;
  width: 4%;
  position: absolute;
  left: -0.5%;
  top: 25%;
  z-index: 6;
  border-bottom-right-radius: 50% 15%;
  border-top-right-radius: 50% 15%;
}

/* Color overrides */

.iphonex.portrait.black .speaker {
  background: #101010;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);
}
.iphonex.portrait.black .caseBorder {
  background: linear-gradient(#999 0%, #555 100%);
}
.iphonex.landscape.black .caseBorder {
  background: linear-gradient(90deg #999 0%, #555 100%);
}

.iphonex.landscape.black .speaker {
  background: #121212;
  box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.15);
}
.iphonex.landscape.black .case {
  box-shadow: none;
}

.iphonex.portrait.white .speaker {
  background: linear-gradient(#eee 0%, #f5f5f5 100%);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);
}
.iphonex.landscape.white .speaker {
  background: linear-gradient(#eee 0%, #f5f5f5 100%);
  box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.15);
}

.androidPhone.portrait {
  position: relative;
  display: inline-block;
  transform: scale3d(0.8333, 0.8333, 1);
  transform-origin: 50% 50%;
  width: 100%;
  padding: calc(16 / 9 * 50%) 0;
}
$ancho1: 411px;
$largo1: 731px;

.androidPhone.portrait {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0px;
  .content {
    position: absolute;
    z-index: 7;
    width: $ancho1;
    height: $largo1;
    top: 0px;
    transform-origin: 0 0;
    transform: scale(0.72992700729927, 0.72992700729927);
  }
}

.androidPhone.portrait .reflection {
  width: 107%;
  height: 120%;
  position: absolute;
  top: -10%;
  left: -3%;
  z-index: 7;
  border-radius: 15%/5%;
}

.androidPhone.portrait .caseBorder {
  width: 107%;
  height: 120%;
  position: absolute;
  top: -10%;
  left: -3.5%;
  z-index: 0;
  border-radius: 15%/5%;
}

.androidPhone.portrait .case {
  width: 107%;
  height: 120%;
  position: absolute;
  top: -10%;
  left: -3.5%;
  z-index: 1;
  border-radius: 15%/5%;
  transform-origin: center;
  transform: scale3d(0.995, 0.995, 1);
}

.androidPhone.portrait .screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 6;
}

.androidPhone.portrait .camera {
  width: 2%;
  height: calc(9 / 16 * 2%);
  position: absolute;
  top: -6%;
  left: 25%;
  z-index: 3;
  border-radius: 50%;
}

.androidPhone.portrait .speaker {
  width: 30%;
  height: calc(9 / 16 * 2%);
  position: absolute;
  top: -6%;
  left: 35%;
  z-index: 3;
  border-radius: 999px;
}

.androidPhone.portrait .homeButtonBorder {
  width: 25%;
  height: 5%;
  position: absolute;
  bottom: -7%;
  left: 37.5%;
  z-index: 3;
  border-radius: 999px;
}

.androidPhone.portrait .homeButton {
  width: 25%;
  height: 5%;
  position: absolute;
  bottom: -7%;
  left: 37.5%;
  z-index: 4;
  border-radius: 999px;
  transform-origin: center;
  transform: scale3d(0.9, 0.8, 1);
}

/* Android phone landscape */

.androidPhone.landscape {
  position: relative;
  display: inline-block;
  transform: scale3d(0.8333, 0.8333, 1);
  transform-origin: 50% 50%;
  width: 100%;
  padding: calc(9 / 16 * 50%) 0;
}

.androidPhone.landscape .content {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  top: 0px;
}

.androidPhone.landscape .reflection {
  height: 107%;
  width: 120%;
  position: absolute;
  left: -10%;
  top: -3%;
  z-index: 7;
  border-radius: 5%/15%;
}

.androidPhone.landscape .caseBorder {
  height: 107%;
  width: 120%;
  position: absolute;
  left: -10%;
  top: -3.5%;
  z-index: 0;
  border-radius: 5%/15%;
}

.androidPhone.landscape .case {
  height: 107%;
  width: 120%;
  position: absolute;
  left: -10%;
  top: -3.5%;
  z-index: 1;
  border-radius: 5%/15%;
  transform-origin: center;
  transform: scale3d(0.995, 0.995, 1);
}

.androidPhone.landscape .screen {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 6;
}

.androidPhone.landscape .camera {
  height: 2%;
  width: calc(9 / 16 * 2%);
  position: absolute;
  left: -6%;
  top: 25%;
  z-index: 3;
  border-radius: 50%;
}

.androidPhone.landscape .speaker {
  height: 30%;
  width: calc(9 / 16 * 2%);
  position: absolute;
  left: -6%;
  top: 35%;
  z-index: 3;
  border-radius: 999px;
}

.androidPhone.landscape .homeButtonBorder {
  height: 25%;
  width: 5%;
  position: absolute;
  right: -7%;
  top: 37.5%;
  z-index: 3;
  border-radius: 999px;
}

.androidPhone.landscape .homeButton {
  height: 25%;
  width: 5%;
  position: absolute;
  right: -7%;
  top: 37.5%;
  z-index: 4;
  border-radius: 999px;
  transform-origin: center;
  transform: scale3d(0.8, 0.9, 1);
}


#DIV_2 {
  bottom: -280px;
  left: 0px;
  position: relative;
  right: 0px;
} /*#DIV_2*/

#DIV_3 {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  min-height: 110px;
  height: 100%;
  background: rgb(254, 254, 254) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(51, 51, 51);
  border-radius: 2px 2px 2px 2px;
  padding: 16px;
  transition: height 0.3s ease-out 0s;
}
#DIV_4 {
  display: flex;
  height: 15px;
  width: 373px;
} 


#SPAN_5 {
  color: rgb(51, 51, 51);
  display: block;
  height: 15px;
  min-height: auto;
  min-width: auto;
  width: 17px;
  background: rgba(0, 0, 0, 0)
    url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12%2c22A2%2c2 0 0%2c0 14%2c20H10A2%2c2 0 0%2c0 12%2c22M18%2c16V11C18%2c7.93 16.36%2c5.36 13.5%2c4.68V4A1.5%2c1.5 0 0%2c0 12%2c2.5A1.5%2c1.5 0 0%2c0 10.5%2c4V4.68C7.63%2c5.36 6%2c7.92 6%2c11V16L4%2c18V19H20V18L18%2c16Z' /%3e%3c/svg%3e")
    no-repeat scroll 100% 100% / cover padding-box border-box;
  margin: 0px 4px 0px 0px;
}

#SPAN_6 {
  color: rgb(99, 99, 99);
  display: block;
  height: 15px;
  min-height: auto;
  min-width: auto;
  text-size-adjust: 100%;
  width: 51.5938px;
  font: normal normal 400 normal 12px / 15px Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica,
    sans-serif;
  margin: 0px 4px 0px 0px;
}

#SPAN_7 {
  background-position: 100% 100%;
  display: flex;
  height: 15px;
  min-height: auto;
  min-width: auto;
  width: 15px;
  background: rgba(0, 0, 0, 0)
    url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M7.41%2c15.41L12%2c10.83L16.59%2c15.41L18%2c14L12%2c8L6%2c14L7.41%2c15.41Z' /%3e%3c/svg%3e")
    no-repeat scroll 100% 100% / cover padding-box border-box;
} 

#DIV_8 {
  height: 100%;
  width: 100%;
}

#DIV_9 {
  display: flex;
  min-height: 40px;
  width: 373px;
}


#DIV_10 {
  min-height: auto;
  min-width: auto;
  margin-bottom: 10px;
  width: 335px;
} 


#DIV_11 {
  display: inline-block;
  height: 20px;
  width: 315px;
  overflow: hidden;
}


#DIV_12 {
  color: rgb(117, 117, 117);
  height: 100%;
  letter-spacing: 0.1px;
  width: 315px;
  border: 0px none rgb(117, 117, 117);
  font: normal normal 400 normal 14px / 20px Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica,
    sans-serif;
} 


#IMG_13 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  cursor: pointer;
  display: block;
  height: 38px;
  max-height: 38px;
  max-width: 38px;
  min-height: 38px;
  min-width: 38px;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  vertical-align: middle;
  width: 38px;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 19px 19px;
  transform-origin: 19px 19px;
  caret-color: rgb(51, 51, 51);
  background: rgb(204, 204, 204) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(51, 51, 51);
  font: normal normal 400 normal 16px / 1px Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica,
    sans-serif;
  outline: rgb(51, 51, 51) none 0px;
} /*#IMG_13*/

#IMG_14 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  cursor: pointer;
  display: none;
  height: 200px;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  vertical-align: middle;
  width: 100%;
  column-rule-color: rgb(51, 51, 51);
  align-items: center;
  justify-content: center;
  caret-color: rgb(51, 51, 51);
  background: rgb(204, 204, 204) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(51, 51, 51);
  font: normal normal 400 normal 16px / 1px Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica,
    sans-serif;
  margin: 10px 0px 0px;
  outline: rgb(51, 51, 51) none 0px;
} /*#IMG_14*/


#DIV_15 {
  background: rgb(238, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(51, 51, 51);
  font: normal normal 400 normal 16px / 1px Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica,
    sans-serif;
  margin: 0px -16px -16px;
  padding: 16px 8px;
} 

#SPAN_16,
#SPAN_17 {
  box-sizing: border-box;
  color: rgb(99, 99, 99);
  cursor: pointer;
  text-decoration: none solid rgb(99, 99, 99);
  text-size-adjust: 100%;
  column-rule-color: rgb(99, 99, 99);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(99, 99, 99);
  border: 0px none rgb(99, 99, 99);
  font: normal normal 400 normal 13px / 18.5px Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica,
    sans-serif;
  outline: rgb(99, 99, 99) none 0px;
  padding: 8px;
} /*#SPAN_16, #SPAN_17*/

#SPAN_18 {
  box-sizing: border-box;
  color: rgb(99, 99, 99);
  cursor: pointer;
  text-decoration: none solid rgb(99, 99, 99);
  text-size-adjust: 100%;
  column-rule-color: rgb(99, 99, 99);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(99, 99, 99);
  border: 0px none rgb(99, 99, 99);
  font: normal normal 400 normal 13px / 18.5px Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica,
    sans-serif;
  outline: rgb(99, 99, 99) none 0px;
  padding: 8px;
} /*#SPAN_18*/


iframe {
  border: none;
  width: 100%;
  min-height: 100%;
  height: 500px;
}
