//styles del componente caracteristicas alumno
.addEmployeeCont {
  width: 530px;
  //height: 850px;
  //background-color:yellowgreen;
}

@media screen and (max-width: 650px) {
  .addEmployeeCont {
    width: 100%;
  }
}

.selectAMargin {
  margin-left: -15px;
  margin-bottom: 30px;
}

hr.new4 {
  border: 1px solid #b2babb;
}

.commentCenterText{
  //text-align: center;
  text-align: justify;
  text-justify: inter-word;
}

.fichaEmployeeSize{
  width: 280px;
}

.avatarE{
  display:inline-block;
}

.nameAvatar{
  //margin-top: -20px;
  margin-left: 10px;
}

.apellidosFont{
  font-size: 20px;
}

