.cardModalSizeE {
  width: 1250px;
  height: 650px;
}

.modalEstimacionSize {
  height: 560px;
  //background-color: red;
}

@media screen and (max-width: 1250px) {
  .modalEstimacionSize {
    height: 100%;
  }
  .cardModalSizeE {
    width: 100%;
    height: 100%;
  }
}

.titleEstimacion {
  font-size: 30px;
}

.titleAddConcepCatalog {
  font-size: 20px;
}

.buttonSalir {
  //padding: 0px;
  margin-top: 20px;
  margin-left: -40px;
}

.formConceptCatalog {
  width: 470px;
  padding: 15px;
}

.marginSelectAdd {
  //margin-right: -20px;
  margin-left: -20px;
}

@media screen and (max-width: 750px) {
  .formConceptCatalog {
    width: 100%;
    padding: 0px;
  }
}

//modal styles
.styles_modal__gNwvD {
  max-width: 1300px;
}

@media only screen and (max-width: 1300px) {
  .styles_modal__gNwvD {
    max-width: 100%;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive::-webkit-scrollbar {
  -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
  width: 11px;
}

.table-responsive::-webkit-scrollbar:horizontal {
  height: 10px;
  //overflow: hidden;
}

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 3px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

.estimacionesComp {
  margin-top: 5px;
  margin-bottom: -25px;
  margin-right: 10px;
  margin-left: 20px;
}

.estimacionesHeaderPag{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 20px;
}
