.statusEneable {
  color: #2ecc71;
  margin-left: 10px;
  margin-top: 0px;
}

.textEnable p {
  color: #2ecc71;
}

.statusDisable {
  color: #e74c3c;
  margin-left: 10px;
  margin-top: 0px;
}

.textDisable p {
  color: #e74c3c;
}

.textTitle p {
  color: #11306c;
}

.fichaData {
  color: #e74c3c;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  margin-top: 0px;
}
