.inputsBoxInfo {
    width: 360px;
    margin-left: 0px;
}

.subtitleInfo {
    //font-family: HelveticaNeue;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #6a85d6;
    text-transform: uppercase;
}

.dataInfo {
    //font-family: SourceSansPro;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.dataInfoDos {
    //font-family: SourceSansPro;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    letter-spacing: 0.4px;
    //text-transform: capitalize;
}

.calendarPay{
    margin-left: 28px;
}

.calendarioText{
 margin-left: 10px;
}

@media only screen and (max-width: 700px) {
    .inputsBoxInfo {
        width: 100%;
        margin-left: 0px;
    }

    .subtitleInfo {
        font-size: 12px;
    }

    .dataInfo {
        font-size: 14px;
        letter-spacing: 0.2px;
    }

    .dataInfoDos {
        font-size: 14px;
        letter-spacing: 0.2px;
    }

    .calendarPay{
        margin-left: 0px;
    }

}