.todo {
  margin-bottom: 15px;
}
.todo-app {
  .card {
    padding-bottom: 20px;
  }
  .todo-app__divider {
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .todo-app__divider-title {
    text-transform: uppercase;
    color: rgba(92, 104, 156, 0.6);
    margin: 0 10px;
  }
  .todo-app__divider-line {
    height: 1px;
    background-color: rgba(92, 104, 156, 0.6);
    opacity: 0.15;
    flex-grow: 1;
  }

  .todo__item {
    display: flex;

    .todo__info {
      flex-grow: 1;

      .todo__header {
        display: flex;
        margin-bottom: 10px;

        h3 {
          font-size: 16px;
          line-height: 18px;
          font-weight: 700;
        }

        .todo__additional {
          display: flex;
        }
      }

      .todo__content {
        display: flex;
        justify-content: space-between;

        .todo__description {
          @include themify($themes) {
            color: themed("colorText");
          }
          max-width: 65%;
        }
        .todo__delete-btn {
          border: none;
          position: relative;
          color: #999999;
          cursor: pointer;
          align-self: flex-end;
          padding: 5px;
          @include themify($themes) {
            background-color: themed("colorHover");
          }

          svg {
            height: 16px;
            width: 16px;
            fill: $color-additional;
          }

          &:hover {
            color: $color-red-hover;

            svg {
              fill: $color-red-hover;
            }
          }
        }
      }
    }
  }

  .side_bar_material{
    @include themify($themes) {
      background-color: themed("colorBackgroundSidebarComplement");
    }
    min-height: 710px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

    .todo_sidebar-image {
      width: 130px;
      margin-bottom: 20px;
    }

  }

  .rowButtons {
    display: flex;
    justify-content: flex-end;
  }
  .title-material-container {
    margin-bottom: 15px;
  }
  .subtitle-material {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    p {
      color: #3057af;
      font-weight: 600;
    }
  }

  .list-item-material {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: transparent;

    p {
      font-weight: 600;
    }
    &:hover {
      background-color: white;
    }
  }

  .full_icon_material_container {
    display: flex;
    align-self: center;
  }

  .full_icon_material {
    width: 100%;
    height: 100%;
    font-size: 40px;
    margin: 0px;
    color: #3057af;
  }
}

.todo__priority-indicator {
  background-color: $color-accent;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  align-self: center;
  flex-shrink: 0;

  &.low {
    background-color: $color-accent;
  }

  &.medium {
    background-color: $color-yellow;
  }

  &.high {
    background-color: $color-red;
  }
}

.material_selected_item {
  // @include themify($themes) {
  //     border-color:themed('colorText');
  // }
  blockquote {
    border-color: $greenIcon;
  }
}

.delete_button_container {
  align-items: center;
  display: flex;
}

.return_button {
background: transparent;
border:none
}
.ant-upload-list {
  &.ant-upload-list-picture {
    .ant-upload-list-item {
      height: 100%;
    }
    .ant-upload-list-item-info{
      padding-top: 15px;
    }
  }
}
