.pricing-card {
  text-align: center;

  &.pricing-card--primary {
    border-top: 5px solid $color-blue;
  }

  &.pricing-card--success{
    border-top: 5px solid $color-accent;
  }
  &.pricing-card--info {
    border-top: 5px solid $color-accent;
  }

  &.pricing-card--warning {
    border-top: 5px solid $color-yellow;
  }

  &.pricing-card--danger {
    border-top: 5px solid $color-red;
  }

  hr {
    margin: 0;

    @include themify($themes) {
      border-top-color: themed('colorFieldsBorder');
    }
  }
}

.pricing-card__body {
  padding: 45px 40px;
}

.pricing-card__img {
  height: 70px;
  margin-bottom: 20px;
}

.pricing-card__plan {
  margin-bottom: 20px;
  font-weight: 300;
}

.pricing-card__price {
  margin-top: 20px;
  font-weight: 300;
  font-size: 48px;
  line-height: 48px;

  span {
    font-size: 18px;
  }
}

.pricing-card__feature--inactive {
  color: #bbbbbb;
}

.pricing-card__button {
  margin-top: 25px;
  margin-bottom: 0;
  max-width: 160px;
  width: 100%;
}

.tick {
  stroke-dasharray: 29px;
  stroke-dashoffset: 29px;
  animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
  animation-delay: .6s
}

.circle {
  fill-opacity: 0;
  stroke: #219a00;
  stroke-width: 16px;
  transform-origin: center;
  transform: scale(0);
  animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;   
}

@keyframes grow {
  60% {
      transform: scale(.8);
      stroke-width: 4px;
      fill-opacity: 0;
  }
  100% {
      transform: scale(.9);
      stroke-width: 8px;
      fill-opacity: 1;
      fill: #219a00;
  }
}

@keyframes draw {
  100% { stroke-dashoffset: 0; }
}


.svg-container {
  height: 70px;
  margin-bottom: 30px;
}
