.topbar__collapse-item{
    .topbar__collapse-img-wrap{
        border-radius: 0%;
        height: 32px;
        width: 32px;
        .ant-avatar{
            line-height: 25px;
        }
    }
}

.erase_button_card{
    position: absolute;
    right: 15px;
    color: $redIcon;
    margin-top: 0px;
}

.icons_card_roles{
    padding-top: 2px;
    margin: 0;
    margin-right: 10px;
}
.dashboard__card-widget{
    @include themify($themes) {
        background-color: themed('colorBackgroundCard');
      }
}
