.scrollInscripcion {
  overflow: scroll;
  height: 100%;
  width: 100%;
  //line-height: 1em;
}

.scrollInscripcion::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollInscripcion::-webkit-scrollbar:vertical {
  width: 11px;
}

.scrollInscripcion::-webkit-scrollbar:horizontal {
  height: 0px;
  overflow: hidden;
}

.scrollInscripcion::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 3px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

//scroll para el componente de comentarios en las tabs de alumno
.scrollComentariosAlumno {
  overflow-y: scroll;
  height: 480px;
  width: 100%;
}

.scrollComentariosAlumno::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollComentariosAlumno::-webkit-scrollbar:vertical {
  width: 11px;
}

.scrollComentariosAlumno::-webkit-scrollbar:horizontal {
  height: 0px;
  overflow: hidden;
}

.scrollComentariosAlumno::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 3px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

//scroll para cambio masivo
.scrollCambioMasivo {
  overflow-y: scroll;
  height: 600px;
  width: 100%;
  //line-height: 1em;
}

.scrollCambioMasivo::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollCambioMasivo::-webkit-scrollbar:vertical {
  width: 11px;
}

.scrollCambioMasivo::-webkit-scrollbar:horizontal {
  height: 0px;
  overflow: hidden;
}

.scrollCambioMasivo::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 3px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

////

//scroll para cambio masivo
.scrollAsignarContratista {
  overflow: scroll;
  height: 580px;
  width: 850px;
  //line-height: 1em;
}

.scrollAsignarContratista::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollAsignarContratista::-webkit-scrollbar:vertical {
  width: 11px;
}

.scrollAsignarContratista::-webkit-scrollbar:horizontal {
  height: 10px;
  //overflow: hidden;
}

.scrollAsignarContratista::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 3px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-height: 820px) and (max-width: 380px) {
  .scrollAsignarContratista {
    overflow: scroll;
    height: 625px;
    width: 100%;
    //line-height: 1em;
  }
}

@media screen and (max-height: 740px) and (max-width: 420px) {
  .scrollAsignarContratista {
    overflow: scroll;
    height: 525px;
    width: 100%;
    //line-height: 1em;
  }
}

@media screen and (max-height: 675px) and (max-width: 380px) {
  .scrollAsignarContratista {
    overflow: scroll;
    height: 475px;
    width: 100%;
    //line-height: 1em;
  }
}

@media screen and (max-height: 645px) and (max-width: 365px) {
  .scrollAsignarContratista {
    overflow: scroll;
    height: 450px;
    width: 100%;
    //line-height: 1em;
  }
}

@media screen and (max-height: 580px) and (max-width: 330px) {
  .scrollAsignarContratista {
    overflow: scroll;
    height: 340px;
    width: 100%;
    //line-height: 1em;
  }
}

.scrollListaPersonal {
  overflow: scroll;
  height: 550px;
  width: 860px;
  //line-height: 1em;
}

.scrollListaPersonal::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollListaPersonal::-webkit-scrollbar:vertical {
  width: 11px;
}

.scrollListaPersonal::-webkit-scrollbar:horizontal {
  height: 10px;
  //overflow: hidden;
}

.scrollListaPersonal::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 3px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-height: 1025px) and (max-width: 770px) {
  .scrollListaPersonal {
    overflow: scroll;
    height: 625px;
    width: 650px;

    //line-height: 1em;
  }
}

@media screen and (max-height: 830px) and (max-width: 415px) {
  .scrollListaPersonal {
    overflow: scroll;
    height: 625px;
    width: 350px;
    margin-left: -50px;
    //line-height: 1em;
  }
}

@media screen and (max-height: 820px) and (max-width: 380px) {
  .scrollListaPersonal {
    overflow: scroll;
    height: 625px;
    width: 330px;
    margin-left: -50px;
    //line-height: 1em;
  }
}

@media screen and (max-height: 740px) and (max-width: 420px) {
  .scrollListaPersonal {
    overflow: scroll;
    height: 525px;
    //width: 100%;
    width: 375px;
    margin-left: -60px;
    //line-height: 1em;
  }
}

@media screen and (max-height: 675px) and (max-width: 380px) {
  .scrollListaPersonal {
    overflow: scroll;
    height: 475px;
    width: 330px;

    //line-height: 1em;
  }
}

@media screen and (max-height: 645px) and (max-width: 365px) {
  .scrollListaPersonal {
    overflow: scroll;
    height: 450px;
    width: 330px;
    margin-left: -65px;
    //line-height: 1em;
  }
}

@media screen and (max-height: 580px) and (max-width: 330px) {
  .scrollListaPersonal {
    overflow: scroll;
    height: 340px;
    width: 280px;

    //line-height: 1em;
  }
}

/////////////////////////////////////////new
//Scroll para modal Estimaciones
.scrollEstimaciones {
  overflow: scroll;
  
  //line-height: 1em;
}

.scrollEstimaciones::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollEstimaciones::-webkit-scrollbar:vertical {
  width: 11px;
}

.scrollEstimaciones::-webkit-scrollbar:horizontal {
  height: 10px;
  //overflow: hidden;
}

.scrollEstimaciones::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 3px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-height: 1380px) and (max-width: 1030px) {
  .scrollEstimaciones {
    overflow: scroll;
    height: 600px;
  }
}

@media screen and (max-height: 1025px) and (max-width: 770px) {
  .scrollEstimaciones {
    overflow: scroll;
    height: 525px;
  }
}

@media screen and (max-height: 830px) and (max-width: 415px) {
  .scrollEstimaciones {
    overflow: scroll;
    height: 420px;
  }
}

@media screen and (max-height: 820px) and (max-width: 380px) {
  .scrollEstimaciones {
    overflow: scroll;
    height: 400px;
  }
}

@media screen and (max-height: 740px) and (max-width: 420px) {
  .scrollEstimaciones {
    overflow: scroll;
    height: 405px;
  }
}

@media screen and (max-height: 675px) and (max-width: 380px) {
  .scrollEstimaciones {
    overflow: scroll;
    height: 255px;
  }
}

@media screen and (max-height: 645px) and (max-width: 365px) {
  .scrollEstimaciones {
    overflow: scroll;
    height: 230px;
    //height: -webkit-calc(100% - (20px + 300px));
  }
}

@media screen and (max-height: 580px) and (max-width: 330px) {
  .scrollEstimaciones {
    overflow: scroll;
    height: 250px;
  }
}
