.sidebarComplement {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  height: 100vh;
  width: 320px;
  box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.11);
  padding-top: 0px;
  transition: transform 0.3s, width 0.3s;
  transform: translateX(calc(100% + 20px));

  @include themify($themes) {
    background: themed("colorBackgroundSidebarComplement");
  }

  a {
    display: block;
  }

  &.sidebarComplement--show {
    transform: translateX(0);

    .sidebarComplement__back {
      display: block;
    }
  }
}

.sidebarComplement__back {
  height: 100%;
  width: calc(100vw - 320px);
  margin-left: calc(-100vw + 320px);
  position: absolute;
  display: none;
  background: transparent;
  border: none;
}

.sidebarComplement__button {
  width: 60px;
  height: 60px;
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  float: right;

  &:focus {
    outline: none;
  }

  &:hover {
    @include themify($themes) {
      background-color: themed("colorHover");
    }
  }

  // &.sidebarComplement__button--desktop {
  //   display: none;
  // }
}

.sidebarComplement__button-icon {
  margin: auto;
  width: 18px;
}

.sidebarComplement__scroll {
  width: 320px;

  &>div {
    height: calc(100vh - 5px);
  }

  .scrollbar-track {
    &.scrollbar-track-y {
      width: 2px;
      margin-right: 3px;
    }

    &.scrollbar-track-x {
      display: none !important;
    }
  }

  .scrollbar-thumb {
    opacity: 0.3;
    width: 5px;
  }

  .sidebarComplement_container {
    padding-top: 60px;
  }
}

.avatar_ficha_container {
  width: 100px;
  height: 80px;
  padding-right: 0;

  & img {
    min-width: 100px;
    width: 100px;
    border-radius: 50px;
    margin-top: -20px;
  }
}

.ficha_name_container {
  margin-left: 10px;
}

.ficha_icons {
  margin-left: 10px;
  margin-top: 10px;
  color: rgba(118, 123, 125, 0.8);

  &.red_icon {
    color: rgb(250, 83, 108);
  }

  &.green_icon {
    color: rgb(46, 204, 113);
  }
}

.marginIcon {
  margin-left: 0px;
}

.ficha_text_icons {
  margin-left: 20px;
}

.fichaName {
  font-size: 24px;
}

.fichaNameTitle {
  font-size: 24px;
}

.subTitulosFicha {

  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
}

.nombresLista {
  text-transform: capitalize;
  list-style-type: none;
  color: #646777;
}


.textButonFicha {
  margin-top: -5px
}

.textButonFichaAM {
  margin-top: -7px
}

.textButonFichaAlumnos {
  margin-top: -2px
}


.marginStatus {
  margin-top: -7px;
}

.marginDireccion{
  margin-top: 10px;
}

.marginIconBotton {
  margin-top: 11px;
}

.botonGrupoSize {
  height: 52px;
}

.fichaMarginR{
  margin-right: -15px;
}


@media screen and (min-width: 576px) {
  .sidebarComplement__button {
    &.sidebarComplement__button--desktop {
      display: block;
    }

    &.collapsed {
      display: none;
    }

    &.collapse_invisible {
      visibility: hidden;
    }
  }

  .sidebarComplement {
    transform: translateX(0);

    &.sidebarComplement--no-desktop {
      transform: translateX(calc(0%));

      &.sidebarComplement--show {
        transform: translateX(0);
      }

      .sidebarComplement__wrapper--mobile {
        display: block;
      }
    }

    &.sidebarComplement--show {
      .sidebarComplement__back {
        display: none;
      }
    }

    &.sidebarComplement--collapse {
      width: 0px;
      overflow: visible;

      .sidebarComplement__scroll,
      .sidebarComplement__content {
        width: 0px;
        overflow: visible !important;
        transition: width 0.3s;
      }

      .sidebarComplement__button {
        display: none;
      }

      // .sidebar__scroll, .sidebar__content {
      //   width: 55px;
      //   overflow: visible !important;
      //   transition: width 0.3s;
      // }

      // .scrollbar-track.scrollbar-track-y {
      //   margin-right: 188px;
      // }
    }
  }

  .sidebarComplement__wrapper--desktop {
    display: block;
  }

  .sidebarComplement__wrapper--mobile {
    display: none;
  }
}

.sidebarComplement--collapse {
  .sidebarComplement__scroll {
    .float-right {
      float: left !important;
    }
  }
}