.header-classTable {
  background-color: #123878;
}

.serachBarStyle {
  background-color: "#ecf0f1";
}

.sameLineIcons {
  display: inline;
}

.colorIconDelete {
  color: #f44336;
}

.colorIconPencil {
  color: #6a85d6;
}

.busqueda {
  width: 500px;
}

@media only screen and (max-width: 730px) {
  .busqueda {
    width: 100%;
  }
}

.sortColor {
  background-color: red;
}

table thead th {
  color:#ffffff;
  border-bottom-color: #eff1f5;
}

.theme-light .table thead th {
  color:#ffffff;
  border-bottom-color: #eff1f5;
}